@if (stats()) {
  <div class="stats-section">
    <div class="mat-headline-small">Game Stats</div>
    <div class="stat-cards-grid">
      <stat-card [displayText]="'Average'" [value]="stats()!.average" />
      <stat-card [displayText]="'High Score'" [value]="stats()!.high" />
      <stat-card [displayText]="'Count'" [value]="stats()!.count" />
      <stat-card [displayText]="'Clean Games'" [value]="stats()!.cleanCount" />
    </div>
  </div>

  <div class="stats-section">
    <div class="mat-headline-small">Performance</div>
    <div class="stat-cards-grid">
      <stat-card [displayText]="'Strikes %'" [value]="stats()!.strikesPercent" />
      <stat-card [displayText]="'Pocket Hits %'" [value]="stats()!.pocketHitsPercent" />
      <stat-card [displayText]="'Opens %'" [value]="stats()!.opensPercent" />
      <stat-card [displayText]="'Spares %'" [value]="stats()!.sparesPercent" />
      <stat-card [displayText]="'Single Pin %'" [value]="stats()!.singlePinPickupPercent" />
      <stat-card [displayText]="'Gutters'" [value]="stats()!.gutters" />
    </div>
  </div>
}
<div class="mat-headline-medium">Score</div>
<canvas
  class="score-chart"
  baseChart
  [data]="chartData()"
  [options]="chartOptions"
  [type]="'line'"
></canvas>
<!-- @for (pinCombo of pinpalService.pinCombos; track pinCombo) { -->
<!-- <pin-card [value]="pinCombo.value" /> -->
<!-- <br/> -->
<!--   <div>{{pinCombo.type}}</div> -->
<!--   <br/> -->
<!-- } -->
