@if (loading()) {
  <div>Loading...</div>
} @else {
  <div class="mat-headline-medium">Overview</div>
  <div class="mat-title-medium">Last {{ games().length }} league games</div>
  @if (stats) {
    <stat-card [displayText]="'Average'" [value]="stats.average" />
    <stat-card [displayText]="'High Score'" [value]="stats.high" />
    <stat-card [displayText]="'Count'" [value]="stats.count" />
  }
  <div class="mat-headline-medium">Score</div>
  <canvas
    class="score-chart"
    baseChart
    [data]="chartData"
    [options]="chartOptions"
    [type]="'line'"
  ></canvas>
}
