@if (leagues().length > 0) {
  <div class="mat-headline-medium">Leagues</div>
  <div class="league-overview-grid">
    @for (league of leagues(); track league.pk) {
      <league-overview-card [leagueOverview]="league" />
    }
  </div>
}
@if (tournaments().length > 0) {
  <div class="mat-headline-medium">Tournaments</div>
  <div class="league-overview-grid">
    @for (tournament of tournaments(); track tournament.pk) {
      <league-overview-card [leagueOverview]="tournament" />
    }
  </div>
}
