<div class="mat-display-medium">Upload your PinPal backup</div>
<button matButton="filled" (click)="onUploadClick()">Upload File</button>
<input #fileUpload type="file" accept=".pinpal" (change)="onFileSelected($event)" />
<div class="mat-headline-medium">Status: {{ status() }}</div>

@if (weeks().length > 0) {
  <a matButton="filled" [routerLink]="['/']">Home</a>
  <div class="mat-title-medium">Most recent days:</div>
  <mat-list>
    @for (week of weeks(); track week.date) {
      <mat-list-item>
        <span matListItemTitle>{{ week.date.toLocaleDateString() }}</span>
        <span matListItemLine>{{ gameScores(week) }}</span>
      </mat-list-item>
    }
  </mat-list>
}
